.hidden{
  display:none !important;
}

.wizard-container{
  margin-top:10rem;
}

.modal-backdrop.show{
  opacity: 0.7;
}

.extras {
  padding: 20px 5px 0px 5px;
  text-align: center;
  margin: 0 auto;
}

.boiler-pic{
  cursor: pointer;
}

.boiler-feature img {
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin-right: .5rem;
}

.boiler-feature {
  font-size: 14px;
}

.controlDesc{
  overflow: auto;
  height: 450px;
}

.controlImageBox{
  width:250px;
  margin:0 auto;
  display: none;
}
.radiatorImageBox{
  width:250px;
  margin:0 auto;
}
.controlImageBox img{
  width:100%;
}

.boiler-actual-price{
  font-size: 48px;
}

.boiler-discount-price{
  font-size: 1.5rem;
}