/* ===== Scrollbar CSS ===== */
/* Firefox */
.control-item {
  /* scrollbar-width: auto;
  scrollbar-color: #ffffffff #ffffffff; */
  scrollbar-color: #99999900 #99999900;
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
.control-item::-webkit-scrollbar {
  width: 1px;
}

.control-item::-webkit-scrollbar-track {
  background: #99999900;
}

.control-item::-webkit-scrollbar-thumb {
  background-color: #99999900;
  border-radius: 1px;
  border: 1px none #99999900;
}
.hidden{
  display:none !important;
}

.wizard-container{
  margin-top:10rem;
}

.modal-backdrop.show{
  opacity: 0.7;
}

.extras {
  padding: 20px 5px 0px 5px;
  text-align: center;
  margin: 0 auto;
}

.boiler-pic{
  cursor: pointer;
}

.boiler-feature img {
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin-right: .5rem;
}

.boiler-feature {
  font-size: 14px;
}

.controlDesc{
  overflow: auto;
  height: 450px;
}

.controlImageBox{
  width:250px;
  margin:0 auto;
  display: none;
}
.radiatorImageBox{
  width:250px;
  margin:0 auto;
}
.controlImageBox img{
  width:100%;
}

.boiler-actual-price{
  font-size: 48px;
}

.boiler-discount-price{
  font-size: 1.5rem;
}

._link{
  cursor: pointer;
}

.collapsed{
  box-shadow: none;
}
.accordion__header{
  margin-top: 10px;
  margin-bottom:0;
}
.accordion__button {
  width: 100%;
  text-align: center;
  border: none;
  background: #4db8ba;
  color: #FFFFFF;
  padding: 10px;
  font-size: 24px;
}
.info__box{
  background:#FFFFFF;
}
.__info_image{
  margin-bottom: 10px;
  text-align: center;
}
.info__table{
  width:100%;
}
.info__table tr{
  height: 100px;
}
._row_title{
  text-align: left;
  padding: 5px;
}
._row_value{
  text-align: right;
  padding: 5px;
}
._wd10{
  width:10%;
  text-align: center;
}
.__title_img{
  width:100%;
}

._hr{
  width:100%;
  height: 2px;
  background-color: #4db8ba;
  margin:10px 0px;
}

.__next_date{
  margin-top: 10px;
  margin-bottom: 20px;
}
.__next_date button{
  width:100%;
}
#priceAccordion {transition: none;}
.display_none{
  display: none;
}
.date_title{
  text-align: center;
}
.__total_price {
  font-size: 1.5rem;
  color: #62b9ba;
}
.how__radiator{
    width:100%;
    height: 200px;
    background-image: url(../img/how-radiators.png?v1);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.included-hidden{
    display: none;
}

.control-item{
  height:620px;
  overflow: auto;
}
.device-control-card{
  height:680px;
}

@media only screen and (max-width: 768px) {
.extras{
  width:100%;
}
.how__radiator{
    width:100%;
    height: 300px;
    background-image: url(../img/radiators-mobile.png?v1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 30px;
}
.gasking-btn-container{
  width:100%;
}
.wizard-container {
  margin-top: 14rem;
}
}